@import "../base/func";
@import "flexbox";
@import "font";
@import "text";
@import "grid";
@import "margins";
//TEXT

.hide {
  opacity: 0;
  visibility: hidden;
}

.show {
  opacity: 1;
  visibility: visible;
}



.block {
  display: block;
}

.pos-a {
  position: absolute;
}

.pos-r {
  position: relative;
}


.bl_0{
  border-left: 0px
}

.bgc{
  &_white{
    background-color: #fff;
  }
}

