.mt {
  &_32 {
    margin-top: gem(32);
  }

  &_10 {
    margin-top: gem(10);
  }
}

.mb {
  &_0 {
    margin-bottom: 0!important;
  }
  &_8{
    margin-bottom: gem(8);
  }
  &_12{
    margin-bottom: gem(12);
  }
  &_16{
    margin-bottom: gem(16);
  }
  &_26{
    margin-bottom: gem(26);
  }
  &_32{
    margin-bottom: gem(32);
  }
  &_40{
    margin-bottom: gem(40);
  }
  &_48{
    margin-bottom: gem(48);
  }
  &_20{
    margin-bottom: gem(20);
  }
  &_96{
    margin-bottom: gem(96);
  }
}

.ml {
  &_24 {
    margin-left: gem(24);
  }
  &_12 {
    margin-left: gem(12);
  }
}

.mr {
  &_12 {
    margin-right: gem(12);
  }
}
.mx{
  margin-left: auto;
  margin-right: auto;
}
.pb{
  &_70{
    padding-bottom: gem(70);
  }
  &_96{
    padding-bottom: gem(96);
  }
}

