.mt {
  &_32 {
    margin-top: gem(32);
  }

  &_10 {
    margin-top: gem(10);
  }
}

.mb {
  &_0 {
    margin-bottom: 0!important;
  }
  &_12{
    margin-bottom: gem(12);
  }
  &_16{
    margin-bottom: gem(16);
  }
  &_32{
    margin-bottom: gem(32);
  }
  &_20{
    margin-bottom: gem(20);
  }
}

.ml {
  &_24 {
    margin-left: gem(24);
  }
}

.mr {
  &_12 {
    margin-right: gem(12);
  }
}
.mx{
  margin-left: auto;
  margin-right: auto;
}

