.txt {
  &-uppercase {
    text-transform: uppercase;
  }
  &-underline{
    text-decoration: underline;
  }


  &-center {
    text-align: center;

  }
  &-right{
    text-align: right;
  }

  &-color {
    &__white{
      color: $white;
    }
    &__success{
      color: $success;
    }
    &__main{
      color: $main-color;
    }
  }
}