//HEADERS
@import "func";

h1, .h1 {
font-size: gem(56);
line-height: gem(66);
font-weight: 300;
text-transform: none;
font-weight: 600;
  @media all and (max-width: 576px) {
    font-size: gem(30);
    line-height: gem(38);
  }
}

h2, .h2 {
font-family: Avenir;
letter-spacing: 0.2em;
font-size: gem(26);
line-height: gem(36);



}

h3, .h3 {
  font-size: gem(22);
  line-height: gem(28);


    @media all and (max-width: 576px) {
      font-size: gem(29);
      line-height: gem(32);

    }
}
h4, .h4 {
  font-size: gem(24);
  line-height: gem(25);
  font-family: Avenir;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  @media all and (max-width: 992px){
    font-size: 20px;
    line-height: 25px;
  }
    @media all and (max-width: 576px) {
      font-size: gem(18);
      line-height: gem(25);
    }
}


