.btn {
  height: gem(64);
  width: gem(280);
  background-color: $main-color;
  border: 2px solid $main-color;
  font-weight: 700;
  font-size: gem(24);
  line-height: gem(28);
  text-align: center;
  text-transform: uppercase;
  color: $white;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: $hover-color;
    color: $main-color;

  }

  @media all and (max-width: 992px) {
    font-size: gem(22);
    line-height: gem(26);
  }
  @media all and (max-width: 576px) {
    font-size: gem(20);
    line-height: gem(24);
  }
  &_white{
    width: auto;
    height: auto;
    background-color: $white;
    color: $main-color;
    padding: gem(18.5) gem(41.5);
    &:hover{
      background-color: $light-blue;
    }
    @media (max-width: 575px){
      width: 100%;
    }
  }


}