.event-search {
  .form {

    margin-bottom: gem(20);

    &__items {
      border: 1px solid #808080;
      margin-bottom: gem(35);
    }

    &__item {
      width: auto;
      margin-bottom: 0;
      flex-shrink: 0;

      &_search {
        width: gem(501);

        .input-icon {
          border-left: none;
        }

        @media all and (max-width: 992px) {
          width: 100%;
          border-bottom: 1px solid $grey;
          input {
            border-right: none;
          }
        }
      }

      &_location {

        width: gem(180);
        @media all and (max-width: 576px) {
          border-bottom: 1px solid #808080;
        }
      }

      &_date {


        input {
          display: none;
        }

        .input-icon {
          border-left: none;
          @media all and (max-width: 576px) {
            padding: 0 gem(20);
          }
        }

        @media all and (max-width: 576px) {
          border-bottom: 1px solid #808080;
        }

      }

      &_btn {
        //width: 100%;
        flex: 1;
      }

      &_dropdown {
        border-right: 1px solid #808080;
        @media all and (max-width: 576px) {
          flex: 1;
          border-right: none;
          border-bottom: 1px solid #808080;
        }
      }
    }

    &__location {
      width: 100%;
      height: 100%;
      border-right: 1px solid $grey;
      border-left: 1px solid $grey;
      padding: gem(0) gem(25);

      .place {
        padding-left: gem(30);

        span {
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        &__text {
          font-size: gem(18);
          line-height: gem(24);
        }

        .icon-close {
          width: 100%;

        }

        .icon-cross {
          left: auto;
          position: absolute;
          right: gem(-10);
          cursor: pointer;
          transition: all .3s linear;
          opacity: 0;
          visibility: hidden;
          transition: all .35s linear;
          &:hover{
            color: $main-color;
          }
          &.visible{
            opacity: 1;
            visibility: visible;
          }
        }

        .form__input {
          input {
            border: none;
            padding: 0 gem(10) 0 0 !important;

            &:hover {
              background: transparent;
            }
          }
        }


      }

      + .place__answer {
        top: calc(100% + .01rem);
        border: gem(1) solid $grey;
        background-color: #fff;
        min-height: gem(50);
        overflow-x: hidden;
        overflow-y: auto;
        height: auto;
        padding: gem(15) gem(20);
        width: gem(303);
        opacity: 0;
        visibility: hidden;
        transition: all .35s linear;
        @media all and (max-width: 576px) {
          width: gem(293);
        }

        &.active {
          opacity: 1;
          visibility: visible;
          z-index: 10;
        }
        .place__result{
          font-size: gem(12);
          line-height: gem(20);
          font-weight: 600;
          cursor: pointer;
          transition: color .3s linear;
          &:hover{
            color: $main-color;
          }
        }
      }
    }


    &__input {
      height: gem(64);

    }

    .input-icon {
      border-top: none;
      border-bottom: none;
    }

    input {
      border-top: none;
      border-bottom: none;
    }

    .flatpickr {
      &-calendar {
        width: gem(322);
        top: 100%;
        right: -1px;
        @media all and (max-width: 992px) {
          animation: none !important;
          transform: translateX(calc(100% - #{gem(70)}));
        }
        @media all and (max-width: 576px) {
          transform: translateX(calc(100% - #{gem(66)}));
        }

        .flatpickr-prev-month {
          left: 0 !important;
        }

        .cur-year {
          display: block;
        }
      }
    }
  }

  @import "map";
}