.form {
  &-search-event {
    padding: 0;
  }

  &__dropdown {
    height: 100%;
  }

  .input-icon {
    padding: 0 gem(22);
    border: 1px solid #808080;
    border-right: none;
    transition: all .35s linear;
    height: 100%;
  }

  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  padding: gem(30);
  font-size: gem(16);
  line-height: gem(19);

  .row > .col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-check {
    transition: all .35s linear;
  }

  &__input {

    .icon-check {
      top: 50%;
      transform: translateY(-50%);
      right: gem(17);

    }

    &_textarea {
      height: gem(93);

    }

    &_search {
      .input-icon {
        padding-right: 0;
      }

      &.form__input {
        input {
          border-left: none;
        }
      }
    }

    &:hover {
      .input-icon {
        cursor: pointer;
        background-color: rgb(228, 242, 255);
        color: $main-color;
        border-color: $main-color;
      }

      input {
        background-color: rgb(228, 242, 255);
        border-color: $main-color;
      }
    }
  }

  &__title {
    margin-bottom: gem(20);
  }

  &__item {

    position: relative;
    width: 100%;

    margin-bottom: gem(32);
    @media all and (max-width: 992px) {
      max-width: 100%;
    }
    @media all and (max-width: 576px) {
      margin-bottom: gem(24);
    }

    &_textarea {
      margin-top: gem(18);
      margin-bottom: 0;
      @media all and (max-width: 576px) {
        margin-top: gem(8);
      }
    }

    &_tags {
      padding: 0 0.2rem;
      max-width: 100% !important;

      .flex {

        row-gap: gem(12);

      }

      @media all and (max-width: 576px) {
        margin-top: gem(24);
      }
    }

    .icon-check {
      opacity: 0;
    }

    label {
      transition: color .35s linear;
      font-size: var(--font-size-body);
      line-height: gem(22);
      cursor: pointer;
      margin-bottom: gem(12);
      display: inline-block;

      span {
        color: $error;
      }

    }

    &.invalid {

      input {
        border-color: $error;
        color: $error;
      }

      .form__message {
        color: $error;
      }
    }


    &.valid {


      input, textarea {
        border-color: $success;
      }

      .icon-check {
        opacity: 1;
      }

    }


  }


  .label__tel {
    transform: translateY(gem(-20)) translateX(gem(-10));
    font-size: gem(10);
    line-height: gem(12);
  }

  .date-item {
    &__icon {
      padding: 0 gem(22);
      border: 1px solid #808080;
      border-right: none;
      transition: all .35s linear;

    }

    .flatpickr-wrapper {
      width: 100%;
      position: static;


    }

    .form__input {
      &:hover {
        .date-item__icon, .form-control {
          cursor: pointer;
          background-color: rgb(228, 242, 255);
          color: $main-color;
          border-color: $main-color;
        }
      }
    }

  }

  input,
  textarea {
    height: 100%;
    background: transparent;
    appearance: none;
    width: 100%;
    transition: all 0.35s;
    font-size: gem(16);
    line-height: gem(19);
    padding: gem(15) gem(20);
    border: 1px solid #808080;
    font-weight: 500;

    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      color: rgba(186, 186, 186, 1);
    }
  }


  textarea {
    resize: none;
    height: gem(93);
  }


  &__message {
    position: absolute;
    bottom: gem(-6);
    transform: translateY(100%);
    right: 0;
    font-weight: 500;
    font-size: gem(10);
    line-height: gem(12);
    color: #BABABA;
  }

  .btn {
    width: 100%;
  }

  &__price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #808080;
    position: relative;

    &::before, &::after {
      content: '';
      position: absolute;
      background-color: #808080;
    }

    &::before {
      width: 1px;
      height: 100%;

      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &::after {
      width: 100%;
      height: 1px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    li {
      height: gem(48);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--font-size-body-xs);
      line-height: var(--line-height-body-xs);
      color: rgba(128, 128, 128, 1);
      transition: all .35s linear;
      background-color: transparent;
      cursor: pointer;
      //border: 2px solid transparent;
      position: relative;

      &::before {
        left: -1px;
        bottom: -1px;
        top: -1px;
        right: -1px;
        content: '';
        position: absolute;
        border: 2px solid $main-color;
        opacity: 0;
        z-index: 1;
      }

      &:hover {
        background-color: $hover-color;

      }

      &.active {
        background-color: $light-blue;
        color: $main-color;
        pointer-events: none;

        &:before {
          opacity: 1;
        }
      }
    }
  }

  &__upload {
    margin-top: gem(24) !important;

    input {
      display: none;
    }

    .descr {
      font-size: gem(16);
      line-height: gem(19);
      text-align: right;
      color: $main-color;
    }

    &-container {
      opacity: 0;
      visibility: hidden;
      top: 0;
      position: absolute;
      width: 100%;
      transition: all .35s linear;

      &:hover {
        color: $main-color;
      }

      .icon-close {
        cursor: pointer;
      }
    }

    &.valid {
      .descr {
        opacity: 0;
        visibility: hidden;
      }

      .form__upload-container {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__checkbox {


    input {
      display: none;
    }

    .checkbox {
      border: 2px solid $main-color;
      height: gem(24);
      width: gem(24);
      flex-shrink: 0;
      margin-right: gem(12);
    }

    label {
      margin-bottom: 0;

      a {
        color: $main-color;
      }
    }


    input:checked + .icon-check {
      opacity: 1 !important;
    }

    a {
      text-decoration: underline;
    }
  }

  &-search {
    padding: 0;
  }

  .search-item {
    height: 100%;
    min-height: gem(64);
    position: relative;
    transition: all .35s linear;
    @media all and (max-width: 992px) {
      min-height: gem(44);
      width: 100%;
    }

    &__btn {
      width: gem(64);
      height: gem(64);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $grey;
      flex-shrink: 0;
      z-index: 2;
      cursor: pointer;
      background-color: transparent;
      transition: all .4s ease-in-out;

      &:hover {
        background-color: $light-blue;
        color: $main-color;

      }

      @media all and (max-width: 992px) {
        width: gem(44);
        height: gem(44);
      }
    }

    &__input {

      pointer-events: none;
      width: 0;
      padding: 0;
      border-right: none;
      transition: all .4s ease-in-out;
      position: absolute;
      top: 0;

      right: gem(63);

      z-index: -1;
      @media all and (max-width: 992px) {
        right: 0;
        position: relative;
        width: 100%;
        pointer-events: auto;
        z-index: 1;
        padding: 0 gem(10);
      }
    }

    &__container {
      z-index: 6;
      opacity: 0;
      visibility: hidden;
      padding: gem(30) gem(20);
      background-color: #fff;
      top: 100%;
      border: 1px solid $grey;
      border-top: none;
      min-height: gem(365);
      width: 100%;
      transition: all .25s linear;

      &::before {
        width: 100%;
        height: 1px;
        top: -1px;
        left: 0;
        content: '';
        position: absolute;
        background-color: $grey;
      }

      @media all and (max-width: 992px) {
        display: none;
      }

    }

    &__result {
      background-color: #EDF2F7;
      margin-bottom: gem(8);
      padding: gem(16) gem(20);
      width: 100%;
      font-size: gem(12);
      line-height: gem(20);

      &:nth-child(3) {
        margin-bottom: gem(32);
      }

      .label {
        height: gem(20);
        width: auto;
        padding: 0 gem(8);
        color: $white;

        text-align: center;
        background-color: $success;
        display: inline-block;
      }

      .title {
        width: 80%;
      }
    }

    &.active {
      .search-item {
        &__input {
          width: calc(100% - #{gem(63)});
          padding: gem(15) gem(20);
          z-index: 1;
          pointer-events: all;

          @media all and (max-width: 992px) {
            width: 100%;
          }
        }
      }

      &.find {
        .search-item {
          &__container {
            opacity: 1;
            visibility: visible;
          }
        }
      }

    }


  }

}

