.header {
  padding: gem(25) 0;
  position: relative;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s ease-in-out;
    z-index: 5;
  }

  &.active {
    &::before {
      opacity: 1;
      visibility: visible;
    }

    .header-main, .header__menu {
      transform: translateX(0);
    }

    .header__menu {
      .menu {
        opacity: 1;
        visibility: visible;
      }
    }


  }

  @media (max-width: 992px) {
    padding: gem(20) 0;

  }

  &__portal {
    margin-bottom: gem(32);

    .header-main {
      .btn {
        margin-right: gem(20);

      }

      @media all and (max-width: 992px) {
        .btn {
          position: absolute;
          bottom: gem(30);
          left: gem(16);
          width: auto !important;
          right: gem(16);
          margin-right: 0;

          + .flex {
            justify-content: space-between;
          }
        }

        .form-search {
          margin-top: gem(32);
        }

      }
    }

    .search-item {
      margin-right: gem(20);
      width: gem(368);

      &__container {
        text-align: right;
      }

      &__result {
        text-align: left;
      }


    }


  }

  &__menu {
    transition: all 0.5s ease-in-out;
    border: 1px solid $grey;


    .menu {
      + .flex {
        flex: 1;
      }
    }

    @media all and (max-width: 992px) {
      padding: 0 gem(16);
      transform: translateX(100%);
      overflow-y: scroll;
      overflow-x: hidden;
      position: fixed;
      height: calc(100vh - #{gem(316)});
      width: 2.56rem;
      top: gem(168);
      right: 0;
      border: none;
      flex-direction: column;
      z-index: 20;
      .menu {
        margin-bottom: auto;
        opacity: 0;
        visibility: hidden;

        + .flex {
          margin-top: gem(32);
          flex: 0;
          padding: gem(20);
          border: 1px solid $grey;
          width: 100%;
          align-items: center;

          .header__social {
            padding-left: 0;
          }
        }

      }
    }
  }


  .logo {

    width: gem(318);
    height: gem(76);
    @media all and (max-width: 992px) {
      width: gem(280);
    }
    @media all and (max-width: 576px) {
      width: gem(192);
      height: gem(38.5);
    }


  }

  .header-main {
    display: flex;
    transition: all 0.5s ease-in-out;
    @media (max-width: 992px) {
      position: fixed;
      height:  100vh;
      width: gem(256);
      border: solid gem(1) $grey;
      background-color: $white;
      top: 0;
      right: 0;
      transform: translateX(100%);
      justify-content: start;
      flex-direction: column-reverse;
      padding: gem(16);
      z-index: 20;
      .btn {
        width: 100%;

      }
    }

  }

  .links-contain {
    margin-left: gem(24);


    &::before {
      content: "";
      position: absolute;
      height: gem(64);
      width: gem(1);
      background-color: $grey;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      transition: background-color 0.35s ease-in-out;
      @media (max-width: 992px) {
        content: none;
      }
    }

    &:hover {
      &::before {
        background-color: $main-color;
      }
    }

    @media (max-width: 992px) {
      margin-left: 0;
      margin-bottom: gem(32);
      display: flex;
      justify-content: space-between;


    }


  }

  .btn_outline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: gem(64);
    width: gem(64);
    border: solid gem(1) $grey;
    text-transform: uppercase;
    font-weight: 500;
    font-size: gem(24);
    transition: all 0.35s ease-in-out;

    &:hover {
      border: solid gem(1) $main-color;
      color: $main-color;
    }

    &_bl-0 {
      border-left: 0px;

      &:hover {
        border-top: solid gem(1) $main-color;
        border-right: solid gem(1) $main-color;
        border-bottom: solid gem(1) $main-color;
        border-left: 0px;
        color: $main-color;


      }

    }

    @media (max-width: 992px) {
      height: gem(44);
      width: gem(44);
    }
  }

  .burger {
    display: none;
    @media (max-width: 992px) {
      display: flex;
    }
  }

  .close {
    display: none;
    @media (max-width: 992px) {
      display: flex;
    }
  }

  &__social {
    padding-left: gem(22);
    padding-right: gem(15);

    a {
      margin-left: gem(8);
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &:hover {
        span {
          color: $main-color;
        }
      }
    }

    position: relative;

    &::after {
      width: 1px;
      height: gem(24);
      top: 50%;
      right: 0;
      content: '';
      position: absolute;
      transform: translateY(-50%);
      background-color: $grey;
    }
  }

  .lang-switcher {
    text-transform: uppercase;
    margin-left: auto;
    padding: 0 gem(20);
    text-align: center;

    a {
      &:hover {
        color: $main-color;
      }
    }
  }

}