.header {
  padding: gem(25) 0;
  position: relative;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s ease-in-out;
    z-index: 5;
  }

  &.active {
    &::before {
      opacity: 1;
      visibility: visible;
    }

    .header-main {
      transform: translateX(0);
    }
  }

  @media (max-width: 992px) {
    padding: gem(20) 0;

  }

  .header-events {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .logo {
    &__icon {
      width: gem(380);
      @media (max-width: 992px) {
        width: gem(280);
      }
      @media (max-width: 575px) {
        width: gem(192);
      }
    }
  }
  .header-main {
    display: flex;
    transition: all 0.5s ease-in-out;
    @media (max-width: 992px) {
      position: fixed;
      height: 100vh;
      width: gem(256);
      border: solid gem(1) $grey;
      background-color: $white;
      top: 0;
      right: 0;
      transform: translateX(100%);
      justify-content: start;
      flex-direction: column-reverse;
      padding: gem(16);
      z-index: 20;
      .btn {
        width: 100%;

      }
    }

  }

  .links-contain {
    margin-left: gem(24);


    &::before {
      content: "";
      position: absolute;
      height: gem(64);
      width: gem(1);
      background-color: $grey;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      transition: background-color 0.35s ease-in-out;
      @media (max-width: 992px) {
        content: none;
      }
    }

    &:hover {
      &::before {
        background-color: $main-color;
      }
    }

    @media (max-width: 992px) {
      margin-left: 0;
      margin-bottom: gem(32);
      display: flex;
      justify-content: space-between;


    }


  }

  .btn_outline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: gem(64);
    width: gem(64);
    border: solid gem(1) $grey;
    text-transform: uppercase;
    font-weight: 500;
    font-size: gem(24);
    transition: all 0.35s ease-in-out;

    &:hover {
      border: solid gem(1) $main-color;
      color: $main-color;
    }

    &_bl-0 {
      border-left: 0px;

      &:hover {
        border-top: solid gem(1) $main-color;
        border-right: solid gem(1) $main-color;
        border-bottom: solid gem(1) $main-color;
        border-left: 0px;
        color: $main-color;


      }

    }

    @media (max-width: 992px) {
      height: gem(44);
      width: gem(44);
    }
  }

  .burger {
    display: none;
    @media (max-width: 992px) {
      display: flex;
    }
  }

  .close {
    display: none;
    @media (max-width: 992px) {
      display: flex;
    }
  }

}