.tag{
  background: #FFFFFF;
  border: 1px solid $main-color;
  border-radius: gem(40);
  transition: all .35s linear;
  display: inline-flex;
  padding: 0 gem(20);
  justify-content: center;
  align-items: center;
  height: gem(40);
  color: $main-color;
  font-weight: 500;
  @media all and (max-width: 576px){
    padding: 0 gem(15);
  }
  &.active{
    background-color: $light-blue;
  }
  &:hover{
    background-color: $hover-color;
  }
  &_l{
    height: gem(50);
  }
}
