.advertisement{
    margin-bottom: gem(60);
    h2{
        margin-bottom: gem(12);
    }
    .filter-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: gem(50);
        @media all and (max-width: 992px){
            align-items: start;
        }
        @media all and (max-width: 576px){
            flex-direction: column;
        }

        .tag{
            margin-right: gem(12);
            @media all and (max-width: 992px){
                margin-bottom: gem(8);
            }
        }
        
    }
}