[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::before{
    color: inherit;
    transition: all .35s linear;
  }
}

.icon-Instagram:before {
  content: "\e900";
}
.icon-add:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-eyes:before {
  content: "\e903";
}
.icon-Facebook:before {
  content: "\e904";
}
.icon-edit:before {
  content: "\e905";
}
.icon-link:before {
  content: "\e906";
}
.icon-out:before {
  content: "\e907";
}
.icon-location:before {
  content: "\e908";
}
.icon-Linkedin:before {
  content: "\e909";
}
.icon-menu:before {
  content: "\e90a";
}
.icon-mark:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90c";
}
.icon-diamond:before {
  content: "\e90d";
}
.icon-Telegram:before {
  content: "\e90e";
}
.icon-Tumblr:before {
  content: "\e90f";
}
.icon-Twitter:before {
  content: "\e910";
}
.icon-down:before {
  content: "\e911";
}
.icon-calendar:before {
  content: "\e912";
}
.icon-check:before {
  content: "\e913";
}
.icon-tag:before {
  content: "\e914";
}
.icon-rrow:before {
  content: "\e915";
}
.icon-Viber:before {
  content: "\e916";
}
.icon-Youtube:before {
  content: "\e917";
}
.icon-fire:before {
  content: "\e918";
}
.icon-24{
  font-size: gem(24);
  line-height: gem(24);
}